div.window {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    gap: var(--padding-s);
    align-items: center;
    padding: var(--padding-s);
    box-sizing: border-box;
    width: 450px;
    left: 50%;
    height: 450px;
    top: 50%;
    transform: translate(-50%, -50%);

    .top-bar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .control-button {
            display: flex;
            gap: var(--padding-s);
            .svg-icon-container {
                border-radius: 50%;
                overflow: hidden;
                padding: 3px;
                box-sizing: border-box;
                color: transparent;
                &.minimize {
                    background: yellow;
                }
                &.close {
                    background: red;
                }
                &:hover {
                    color: black;
                }
            }
        }
    }
}
