div#window {
    display: flex;
    position: sticky;
    top: 0px;
    left: 0;
    justify-content: center;
    gap: 1em;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border-color: var(--window-border-color);
}
