@use '../../components/index.scss' as components;
@use '../../components/Button/index.scss' as button;

.control-panel {
    @extend .padding-s;
    display: flex;
    .previous {
        transform: rotate(180deg);
    }
}

.playlist {
    --duration-width: 40px;
    display: flex;
    flex-direction: column;
}

.playlist-item {
    @extend .padding-s;
    @extend .button;
    @extend .button-ghost;

    user-select: none;
    display: grid;
    grid-template-areas:
        'title duration'
        'artist duration';
    grid-template-columns: 1fr var(--duration-width);
    align-items: center;
    gap: var(--size-xs);
    .title,
    .artist {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .title {
        grid-area: title;
    }
    .artist {
        grid-area: artist;
        font-size: 0.7em;
    }
    .duration {
        grid-area: duration;
        justify-self: center;
    }

    // States
    &.selected,
    &:hover {
        background-color: var(--button-background-focused);
        color: var(--button-color-focused);
    }
}
