@use './components/index.scss' as components;

//region Mixins

@mixin headings {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @content;
    }
}

//endregion Mixins

// Layouts

.full-screen {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
    box-sizing: border-box;
    &.align-center {
        align-items: center;
    }
    overflow-y: auto;
    word-break: break-all;
    &:first-child {
        padding-top: 0.5rem;
    }

    &:last-child {
        padding-bottom: 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        &.align-center {
            align-items: stretch;
        }
    }
}

#root {
    display: contents;
}

body {
    @extend .full-screen;
    @include headings {
        font-family: var(--special-font-family);
    }
    p,
    span {
        font-family: var(--main-font-family);
    }
    padding: 0;
    margin: 0;
    overflow: hidden;
    gap: 0;
}

body .focusable {
    box-sizing: border-box;
    border: 3px solid transparent;
    padding: 3px;
    &:focus {
        padding: 3px;
        outline: none;
        border: 3px solid var(--border-color-focus);
        animation-name: blink-border-focusable;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-direction: normal;
    }
}

@keyframes blink-border-focusable {
    from {
        border-color: transparent;
    }
    to {
        border-color: var(--border-color-focus);
    }
}

// Scrollbar

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-color);
    &:hover {
        background: var(--color-selected);
    }
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
